.modal-content {
  background: url('../../assets/images/form.jpg') no-repeat center center;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100vw; 
  width: 100%;
  margin: 0 auto;
}

.modal-header {
  background-color: #ed8c28;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.modal-title {
  font-family: 'Antique Book Cover', sans-serif;
  font-weight: bold;
}

.formu {
  font-family: 'Antique Book Cover', sans-serif;
  font-weight: bold;
  color: white;
  border: 2px solid #2a2f32;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px #ed8c28;
  transition: 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
}

.formu:hover {
  backdrop-filter: blur(6px);
  padding-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  background-color: #fff9e1;
  border-radius: 15px;
  padding: 10px;
  width: 100%; 
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; 
  margin-top: 20px;
}

button {
  padding: 8px 12px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  flex: 0 1 auto; 
}

button:hover {
  background-color: #f0f0f0;
}

.ayuda {
  display: none;
  padding: 3px;
  background-color: #2a2f32;
  color: #ffffff;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 5px;
  opacity: 0;
  font-family: 'Antique Book Cover', sans-serif;
  transition: opacity 0.3s ease;
}

.input-box:hover .ayuda {
  display: block;
  opacity: 1;
}
.mensaje {
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: larger;
}

.mensaje:hover {
  color: #eedfb4;
  text-decoration: underline;
}

.mensaje:active {
  color: #e16c26;
}

@media (max-width: 991px) {
  .inicio {
    margin-top: 200px; 
  }
}
@media (max-width: 768px) {
  
  .modal-content {
    padding: 15px;
    max-width: 95vw;
  }

  .modal-title {
    font-size: 1.25em;
  }

  .formu {
    font-size: 0.9em;
    padding: 8px;
  }

  .ayuda {
    font-size: 14px;
  }

  button.button-value,
  button.button-value {
    padding: 8px 16px !important;
    font-size: 1em !important;
  }
}